:root {
  --primary-font-color: #acaaaa;
  --font-color: rgb(34, 234, 248);
  --first-font-color: #88c484;
  --second--font-color: #71a0a5;
  --accent-font-color: rgb(243, 100, 81);
  --links-color: #77628c;
  --background: rgba(223, 223, 223, 0.11);
}

.SearchEngine input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 80%;
  text-align: center;
  font-size: 24px;
  border: 1px solid #acaaaa8c;
  border-radius: 4px;
  font-family: "Julius Sans One", sans-serif;
  background-color: var(--background);
}

::placeholder {
  color: var(--primary-font-color);
}

.left-column {
  text-align: right;
}

.icon {
  max-width: 15%;
}

.SearchEngine h1 {
  font-size: 24px;
}

.SearchEngine h3 {
  font-size: 14px;
}

.city {
  text-transform: capitalize;
  color: var(--font-color);
}

.date {
  color: var(--first-font-color);
}

.humidity {
  color: var(--second--font-color);
}

.wind {
  color: var(--second--font-color);
}

.description {
  color: var(--accent-font-color);
}

.Temperature {
  font-size: 150px;
  color: var(--primary-font-color);
  position: relative;
  top: -3px;
}

.Temperature span {
  font-size: 35px;
  position: relative;
  bottom: 70px;
}

.Temperature .Celcius,
.Farenheit {
  color: var(--links-color);
  text-decoration: none;
}

.Celcius:hover,
.Farenheit:hover {
  color: var(--links-color);
}
